<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <header>
      <a href="#" class="logo">Elephant Shop</a>
    </header>

    <main>
      <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit" class="login-btn">Entrar</button>
          <button
            type="button"
            onclick="window.location.href='/'"
            class="back-btn"
          >
            Voltar
          </button>
          <p class="register-link">
            Não tem uma conta? <a href="#">Registre-se</a>
          </p>
        </form>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Loja de Roupas. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
